footer {
  text-align: center;
  background: white;
  border-top: 3px solid var(--link-color);
  padding: 1rem var(--gutter-width);

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "contact links" "copyright copyright";
  justify-content: space-between;
}

footer #contact_me {
  grid-area: contact;
  margin-bottom: 0;
}

footer ul {
  grid-area: links;
  list-style-type: none;

  display: flex;
  justify-content: flex-end;
  gap: 0.25rem;

  margin-bottom: 0;
  padding-left: 0;
}

footer ul a {
  display: inline-block;
  border: 1px solid transparent;
}

footer ul a:link, footer ul a:visited {
  border-color: transparent;
}

footer ul a:hover {
  border-color: var(--link-hover-color);
}

footer ul a:active {
  border-color: var(--link-active-color);
}

footer #copyright {
  grid-area: copyright;
  color: var(--body-subtle-color);
  font-size: 0.75rem;
  text-align: center;
  margin-bottom: 0;
}
