@import "reset.css";
@import "layout.css";
@import "nav.css";
@import "footer.css";
@import "links.css";
@import "typography.css";

:root {
  --body-background: #538399;
  --body-color: #464c54;
  --heading-color: #323942;
  --content-width: 60rem;
  --gutter-width: 1rem;
  --primary-color: #35c6c4;
  --secondary-color: #38da6a;
  --link-color: var(--primary-color);
  --link-hover-color: #3aebe9;
  --link-active-color: var(--secondary-color);
  --border-radius: 4px;
  --font-size: 16px;
}

main {
  padding: var(--font-size) var(--gutter-width) calc(2 * var(--font-size));
  background: white;

  @media (max-width: 500px) {
    padding: 16px 16px 50px;
  }
}
