#primary_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0 var(--gutter-width);
  border-bottom: 3px solid var(--link-color);
}

#primary_header h1 {
  flex: 0 0 auto;
  margin: 0;
  line-height: 1.5;
}

#primary_header nav {
  flex: 0 0 auto;
}

#primary_header nav ul {
  margin: 1rem 0 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

#primary_header nav a {
  text-decoration: none;
}
