#primary_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0 var(--gutter-width);
  border-bottom: 3px solid var(--link-color);
}

#primary_header h1 {
  flex: 0 0 auto;
  margin: 0;
  line-height: 1.5;
}

#primary_header h1 a, #primary_header h1 a:link, #primary_header h1 a:visited {
  color: var(--heading-color);
  text-decoration: none;
}

#primary_header h1 a:hover {
  color: var(--link-hover-color);
}

#primary_header h1 a:active {
  color: var(--link-active-color);
}

#primary_header h1 img {
  display: inline-block;
  margin-right: 0.5rem;
  position: relative;
  top: 0.125rem;
}

#primary_header nav {
  flex: 0 0 auto;
}

#primary_header nav ul {
  margin: 1rem 0 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

#primary_header nav a {
  text-decoration: none;
}
