<footer>
  <p>Want me for your engineering team, or for freelancing? <a href="mailto:{{ metadata.email }}">Get in touch</a>!</p>
  <ul>
    <li><a href="https://linkedin.com/in/foliosus"><img src="images/linkedin.png" width="30" height="30" /></a></li>
    <li><a href="https://github.com/foliosus"><img src="images/github.png" width="30" height="30" /></a></li>
    <li><a href="https://speakerdeck.com/foliosus"><img src="images/speakerdeck.png" width="30" height="30" /></a></li>
    <li><a href="https://flickr.com/photos/foliosus"><img src="images/flickr.png" width="30" height="30" /></a></li>
  </ul>
</footer>
