<header id="primary_header">
  <h1><a href="{{ '/' | relative_url }}"><img src="images/leaves.png" width="30" height="30" />Brent Miller</a></h1>

  <nav>
    <ul>
      <li><a href="{{ '/resume' | relative_url }}">Resume</a></li>
    </ul>
  </nav>
</header>
